<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8" />
	
	<title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
{% if meta.description %}
	<meta name="description" content="{{ meta.description }}"> 
{% endif %}{% if meta.robots %}
	<meta name="robots" content="{{ meta.robots }}">
{% endif %}
	
	<link rel="stylesheet" href="{{ theme_url }}/assets/css/main.min.css" type="text/css" />
	
	<script src="{{ theme_url }}/assets/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

	<header id="header">
		<div class="container-fluid">
			<h1><a href="{{ base_url }}">{{ site_title }}</a></h1>
			<ul class="nav">
				{% for page in pages %}
				<li><a href="{{ page.url }}">{{ page.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</header>

	<section id="content">
		<div class="container">
			{{ content }}
		</div>
	</section>
	
	<footer id="footer">
		<div class="container">
			<a href="http://pico.dev7studios.com">Pico</a> was made by <a href="http://gilbert.pellegrom.me">Gilbert Pellegrom</a> 
			from <a href="http://dev7studios.com">Dev7studios</a>.
		</div>
	</footer>
    
</body>
</html>